* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */ 
}

.MuiImageListItemBar-title {
  font-weight: 300 !important;
  font-size: 1.8rem !important;
}

.MuiImageListItemBar-subtitle {
  color: lightgrey !important;
  font-weight: 100 !important;
  font-size: 1.6rem !important;
}

@media (max-width: 600px) {
  .MuiImageListItemBar-title {
    font-size: 2.4rem !important;
  }
  
  .MuiImageListItemBar-subtitle {
    font-size: 2.2rem !important;
  }
}

.MuiChip-colorPrimary {
  background-color: darkgoldenrod !important;
  color: white !important;
}

.MuiChip-colorPrimary:hover {
  background-color: darkgoldenrod !important;
  color: white !important;
}

.MuiChip-colorSecondary {
  background-color: lightgrey !important;
  color: black !important;
}

.MuiChip-colorSecondary:hover {
  background-color: darkorange !important;
  color: white !important;
}

.MuiAutocomplete-input {
  background-color: white;
  color: black;
}

.listlink {
  text-decoration: none;
  color: orange;
}

.listlink:hover {
  color: orange;
}

.listlink:visited {
  color: grey;
}